---
import Layout from '../layouts/Layout.astro';
import { ContactForm } from '../components/ContactForm'

---

<Layout title="AMIF">
    <main>
        <section class="bloq-1 min-h-screen flex justify-center items-center" style="text-shadow: 4px 4px 12px black">
            <div>
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
                    <div class="flex items-center justify-center">
                        <img src="/img/SSM-logo.webp" alt="solar storage mexico" class="lg:h-[120px] h-[80px]">
                    </div>
                    <div class="flex items-center justify-center">
                        <img src="/img/AMIF LOGO WHIT.webp" alt="solar storage mexico" class="lg:h-[220px] h-[150px]">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h2 class="text-white uppercase lg:text-6xl text-3xl font-bold mt-8">te invita al cocktail <br> de presentación</h2>
                    <p class="text-3xl font-semibold text-white mt-8">Miércoles 6 de marzo de 2024<br><span class="text-2xl">de 6:30 am a 10 pm</span></p>
                    <p class="text-white text-2xl mt-6"><span class="lg:text-4xl text-3xl font-bold">Mirador Andares</span><br>3er nivel, Blvrd Puerta de Hierro 5153. <br> Col, Puerta de Hierro, 45116 Zapopan, Jal.</p>
                </div>
            </div>
        </section>
        <section class="bloq-2 py-8">
		<p class="text-white lg:text-4xl text-2xl font-semibold text-center lg:pt-10 px-8">¡No pierdas la oportunidad de conectarse <br> cara a cara con expertos en el sector de la energía solar.! </p>
        <p class="uppercase text-white lg:text-4xl text-2xl font-bold text-center lg:pt-10 px-8">¡regístrate ahora y no pierdas tu lugar!</p>
		<ContactForm client:visible />
	</section>
    </main>
</Layout>
<style>
	.bloq-1 {
    background-image: url("/img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  .bloq-2{
	background-color: #5D5292 ;
	height: auto;
  }
</style>
